
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

@model PetAdvert.UI.Areas.Admin.Models.DTO.GeneralSettingDTO
<!-- partial -->
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Genel Ayarlar</h4>
                            
                                <fieldset>
                                    <form action="/Admin/GeneralSetting/Update" method="post" role="form" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="SeoTitle"><i class="link-icon   icon-pencil"></i> Site Başlığı</label>
                                            <input id="SeoTitle" class="form-control" name="SeoTitle" value="@Model.SeoDescription" type="text" placeholder="Site Başlığını Buraya Yazınız.">
                                        </div>
                                        <div class="form-group">
                                            <label for="SeoTitle"><i class="link-icon icon-pencil"></i> Site Açıklaması</label>
                                            <input id="SeoDescription" class="form-control" name="SeoDescription" value="@Model.SeoDescription" type="text" placeholder="Site Başlığını Buraya Yazınız.">
                                        </div>
                                        

                          <div class="form-group">
                              <label for="Email"><i class="link-icon  icon-direction"></i> Email</label>
                                            <input id="Email" class="form-control" name="Email" value="@Model.Email" type="Email">
                                        </div>

                                        <div class="form-group">
                                            <label for="Telephone"><i class="link-icon   icon-call-out"></i> Telefon</label>
                                            <input id="Telephone" class="form-control" name="Telephone" value="@Model.Telephone" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label for="Facebook"><i class="link-icon   icon-social-facebook"></i> Facebook</label>
                                            <input id="Facebook" class="form-control" name="Facebook" value="@Model.Facebook" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label for="Twitter"><i class="link-icon  icon-social-twitter"></i> Twitter</label>
                                            <input id="Twitter" class="form-control" name="Twitter" value="@Model.Twitter" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label for="instagram"><i class="link-icon  icon-social-instagram"></i> İnstagram</label>
                                            <input id="instagram" class="form-control" name="instagram" value="@Model.instagram" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label for="Pinterest"><i class="link-icon   icon-social-pinterest"></i> Pinterest</label>
                                            <input id="Pinterest" class="form-control" name="Pinterest" value="@Model.Pinterest" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label for="Youtube"><i class="link-icon   icon-social-youtube"></i> Youtube</label>
                                            <input id="Youtube" class="form-control" name="Youtube" value="@Model.Youtube" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label for="CopyrightText"><i class="link-icon   icon-info"></i> Alt Text</label>
                                            <input id="CopyrightText" class="form-control" name="CopyrightText" value="@Model.CopyrightText" type="text">
                                        </div>



                                        <div class="form-group">
                                            <label for="Googleplay"><i class="link-icon   icon-link"></i> Google Play</label>
                                            <input id="Googleplay" class="form-control" name="Googleplay" value="@Model.Googleplay" type="text">
                                        </div>

                                        <div class="form-group">
                                            <label for="AppStore"><i class="link-icon   icon-link"></i> AppStore</label>
                                            <input id="AppStore" class="form-control" name="AppStore" value="@Model.AppStore" type="text">
                                        </div>


                                        <input type="text" style="visibility:hidden" name="ID" value="@Model.ID" />

                                        <a href="/Admin/GeneralSetting/Update/@Model.ID">
                                            <input class="btn btn-primary" type="submit" value="Submit">
                                        </a>
                                    </form>
                                        </fieldset>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>



